// https://github.com/zeit/next.js/blob/canary/examples/with-ant-design-less/next.config.js
// https://github.com/zeit/next.js/blob/canary/examples/with-styled-components/pages/_document.js

{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@components": "./src/components",
          "@api": "./src/api",
          "@models": "./src/models",
          "@connectors": "./src/connectors",
          "@screens": "./src/screens",
          "@hooks": "./src/hooks",
          "@services": "./src/services",
          "@validation": "./src/validation",
          "@constants": "./src/constants",
          "@context": "./src/context",
          "@prismaTypes": "./prisma/generated/type-graphql",
          "@queries": "./src/queries",
          "@theme": "./src/theme",
          "@styled": "./src/styled",
          "@data": "./src/data",
          "@typeDefs": "./src/types",
          "@generated": "./src/generated",
          "@shopApp": "./apps/shop",
          "@tripApp": "./apps/trip",
          "@adminApp": "./apps/admin"
        }
      }
    ],
    [
      "styled-components",
      {
        "ssr": true
      }
    ],

    [
      "import",
      {
        "libraryName": "antd",
        "style": "css"
      }
    ],
    "babel-plugin-transform-typescript-metadata",
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ]
  ]
}
